.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.text-danger {
  font-size: 0.9em;
}

.alert {
  margin-top: 20px;
}

.form-container {
  background-color: #f8f9fa; /* Fondo claro */
  padding: 20px;
  border: 1px solid #dee2e6; /* Borde gris claro */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}