
.form-group {
  margin-bottom: 15px;
}

.text-danger {
  font-size: 0.9em;
}

.alert {
  margin-top: 20px;
}

.form-container {
  background-color: #f8f9fa; /* Fondo claro */
  padding: 20px;
  border: 1px solid #dee2e6; /* Borde gris claro */
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.upload-box {
  width: 200px;
  height: 200px;
  border: 2px dashed #dee2e6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f8f9fa;
  overflow: hidden; /* Asegura que la imagen no se desborde */
  position: relative; /* Permite la superposición precisa */
}

.upload-box:hover {
  border-color: #007bff;
}

.upload-box img.img-preview {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen ocupe todo el espacio */
  border-radius: 8px; /* Mantiene los bordes redondeados */
}

.placeholder-content {
  text-align: center;
  color: #6c757d;
}

.placeholder-content .upload-icon {
  font-size: 50px;
  color: #6c757d;
}

.placeholder-text {
  margin: 0;
  font-size: 14px;
}

