<div class="container" style="padding-bottom: 50px">
  <h2>Registrar Equipo</h2>
  <form [formGroup]="registrarForm" (ngSubmit)="registrarEquipos()">
    <!-- Campo para nombre del equipo -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="nombreEquipo">Nombre:</label>
      <input
        id="nombreEquipo"
        type="text"
        class="form-control"
        formControlName="nombreEquipo"
        placeholder="Ingrese el nombre del equipo"
      />
    </div>

    <!-- Campo para marca del equipo -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="marca">Marca:</label>
      <input
        id="marca"
        type="text"
        class="form-control"
        formControlName="marca"
        placeholder="Ingrese la marca del equipo"
      />
    </div>

    <!-- Campo para modelo del equipo -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="modelo">Modelo:</label>
      <input
        id="modelo"
        type="text"
        class="form-control"
        formControlName="modelo"
        placeholder="Ingrese el modelo del equipo"
      />
    </div>

    <!-- Campo para estado de uso del equipo -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="estadoUsoEquipo">Estado de Uso:</label>
      <select
        id="estadoUsoEquipo"
        class="form-control"
        formControlName="estadoUsoEquipo"
      >
        <option value="" disabled selected>-- Seleccione un estado --</option>
        <option value="Disponible">Disponible</option>
        <option value="En uso">En uso</option>
        <option value="En mantenimiento">En mantenimiento</option>
      </select>
    </div>

    <!-- Campo para vida útil del equipo -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="vidaUtil">Vida Útil:</label>
      <input
        id="vidaUtil"
        type="text"
        class="form-control"
        formControlName="vidaUtil"
        placeholder="Ingrese la vida útil del equipo"
      />
    </div>

    <!-- Campo para fecha de adquisición del equipo -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="fechaAdquiscion">Fecha de Adquisición:</label>
      <input
        id="fechaAdquiscion"
        type="date"
        class="form-control"
        formControlName="fechaAdquiscion"
        placeholder="Ingrese la fecha de adquisición del equipo"
      />
    </div>
    <!-- Selección de obra -->
    <div class="form-group d-flex flex-column align-items-start">
      <label for="obra">Obra:</label>
      <select id="obra" class="form-control" (change)="onObraChange($event)">
        <option value="" disabled selected>-- Seleccione una obra --</option>
        <option *ngFor="let obra of obras" [value]="obra.id">
          {{ obra.nombreObra }}
        </option>
      </select>
    </div>

    <!-- Selección de almacén filtrado por la obra -->
    <div class="form-group d-flex flex-column align-items-start mt-3">
      <label for="almacen">Almacén:</label>
      <select id="almacen" class="form-control" formControlName="almacen">
        <option value="" disabled selected>-- Seleccione un almacén --</option>
        <option *ngFor="let almacen of almacenes" [value]="almacen.id">
          {{ almacen.nombreAlmacen }}
        </option>
      </select>
    </div>

    <!-- Campo para cargar una imagen -->
    <div class="mb-3 d-flex flex-column align-items-center">
      <label for="imagenEquipos">Cargar Imagen:</label>
      <input
        id="imagenEquipos"
        type="file"
        class="form-control"
        (change)="onFileChange($event)"
      />
      <div *ngIf="imagenPreview" class="mt-2">
        <img
          [src]="imagenPreview"
          alt="Imagen previa"
          class="img-thumbnail"
          width="200"
        />
      </div>
    </div>
    <!-- Botón de registro -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!registrarForm.valid"
    >
      Registrar Equipo
    </button>
  </form>
</div>

<!-- Modal de Éxito -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && !errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <img
          src="https://localimg.s3.us-east-2.amazonaws.com/imagenes/right1.png"
          alt=""
          style="width: 90px; height: 50px; margin-right: 5px"
        />
        <div class="flex-grow-1 text-center">
          <p style="margin: 0">{{ mensajeModal }}</p>
          <!-- Elimina el margen del párrafo -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Error -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <img
          src="https://localimg.s3.us-east-2.amazonaws.com/imagenes/wrong.png"
          alt=""
          style="width: 50px; height: 50px; margin-right: 5px"
        />
        <div class="flex-grow-1 text-center">
          <p style="margin: 0">{{ errorModal }}</p>
          <!-- Elimina el margen del párrafo -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
