<form [formGroup]="registrarForm" (ngSubmit)="registrarEquipo()">
  <div>
    <label for="codigoEquipo">Código de Equipo:</label>
    <input id="codigoEquipo" formControlName="codigoEquipo" required />
  </div>

  <div>
    <label for="nombreEquipo">Nombre de Equipo:</label>
    <input id="nombreEquipo" formControlName="nombreEquipo" required />
  </div>

  <div>
    <label for="marcaEquipo">Marca de Equipo:</label>
    <input id="marcaEquipo" formControlName="marcaEquipo" required />
  </div>

  <div>
    <label for="modeloEquipo">Modelo de Equipo:</label>
    <input id="modeloEquipo" formControlName="modeloEquipo" required />
  </div>
  <div>
    <label for="vidaUtilEquipo">Modelo de Equipo:</label>
    <input id="vidaUtilEquipo" formControlName="vidaUtilEquipo" required />
  </div>

  <div>
    <label for="fechaAdquiscion">Fecha de Adquisición:</label>
    <input
      type="date"
      id="fechaAdquiscion"
      formControlName="fechaAdquiscion"
      required
    />
  </div>
  <div>
    <label for="fechaFabricacion">Fecha de fabricacion :</label>
    <input
      type="date"
      id="fechaFabricacion"
      formControlName="fechaFabricacion"
      required
    />
  </div>

  <div>
    <label for="obra">Obra:</label>
    <select id="obra" formControlName="obra" (change)="onObraChange($event)">
      <option *ngFor="let obra of obras" [value]="obra.id">
        {{ obra.nombreObra }}
      </option>
    </select>
  </div>

  <div>
    <label for="almacen">Almacén:</label>
    <select
      id="almacen"
      formControlName="almacen"
      [disabled]="!almacenes.length"
    >
      <option *ngFor="let almacen of almacenes" [value]="almacen.id">
        {{ almacen.nombreAlmacen }}
      </option>
    </select>
  </div>

  <div>
    <label for="imagenEquipos">Imagen del Equipo:</label>
    <input
      type="file"
      id="imagenEquipos"
      (change)="onFileChange($event)"
      accept="image/jpeg, image/png"
    />
    <img
      *ngIf="imagenPreview"
      [src]="imagenPreview"
      alt="Preview"
      width="150"
    />
  </div>

  <button type="submit" [disabled]="registrarForm.invalid">
    Registrar Equipo
  </button>

  <div *ngIf="mensaje" [ngClass]="{ success: esExito, error: !esExito }">
    {{ mensaje }}
  </div>
</form>
