<!-- Barra lateral -->
<aside
  class="sidebar position-fixed top-0 left-0 overflow-auto h-100"
  [ngClass]="{ 'sidebar-hidden': !isSidebarOpen }"
>
  <div
    class="p-3 text-center content p-0 bounce-content"
    style="min-height: calc(100vh - 70px); margin-top: 20px"
  >
    <!-- Imagen circular -->
    <img
      *ngIf="imagen_url"
      [src]="imagen_url"
      alt="Foto de usuario"
      class="rounded-circle img-fluid mb-3"
      style="width: 150px; height: 150px"
    />

    <!-- Nombre de Usuario -->
    <p>{{ nombreUsuario }}</p>
    <!-- Mostrar roles del usuario -->
    <div *ngIf="roles.length > 0">
      <p *ngFor="let rol of roles">{{ rol }}</p>
    </div>
    <hr />
    <!-- Lista de navegación lateral -->
    <!-- registrarUsuarios-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarUsuarios')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerUsuario')"
      >
        <i class="fas fa-users mr-2"></i>
        <span>Usuarios </span>
      </li>
    </ol>

    <!-- registrarRoles-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarRoles')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerRol')"
      >
        <i class="fas fa-user-tie mr-2"></i>
        <span>Roles</span>
      </li>
    </ol>

    <!-- registrarPermisos-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarPermisos')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerPermisos')"
      >
        <i class="fas fa-key mr-2"></i>
        <span>Permisos</span>
      </li>
    </ol>

    <!-- registrarRolPermiso-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarRolPermiso')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerRolPermisos')"
      >
        <i class="fas fa-user-shield mr-2"></i>
        <span>Roles Permisos</span>
      </li>
    </ol>

    <!-- registrarUsuarioRol-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarUsuarioRol')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerUsuarioRol')"
      >
        <i class="fas fa-user-cog mr-2"></i>
        <span>Usuarios Roles</span>
      </li>
    </ol>

    <!-- registrarObra-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarObra')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerObra')"
      >
        <i class="fas fa-hard-hat mr-2"></i>
        <span>Obras</span>
      </li>
    </ol>

    <!-- registrarAlmacen-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarAlmacen')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerAlmacen')"
      >
        <i class="fas fa-warehouse mr-2"></i>
        <span>Almacenes</span>
      </li>
    </ol>

    <!-- registrarEquipos-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarEquipos')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerEquipos')"
      >
        <i class="fas fa-tools mr-2"></i>
        <span>Equipos</span>
      </li>
    </ol>
    <ol class="list-group">
      <li
        *ngIf="puedeVer('verEquiposO')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerEquiposO')"
      >
        <i class="fas fa-tools mr-2"></i>
        <span>Ver Equipos</span>
      </li>
    </ol>

    <!-- registrarMantenimiento-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarMantenimiento')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerMantenimiento')"
      >
        <i class="fas fa-list mr-2"></i>
        <span>Mantenimientos</span>
      </li>
    </ol>

    <!-- registrarSolicitudes-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarSolicitudes')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerSolicitudes')"
      >
        <i class="fas fa-folder-open mr-2"></i>
        <span>Solicitudes</span>
      </li>
    </ol>
    <!-- registrarSolicitudes-->
    <ol class="list-group">
      <li
        *ngIf="puedeVer('registrarSolicitudesExternas')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerSolicitudesexternas')"
      >
        <i class="fas fa-folder-open mr-2"></i>
        <span>Solicitudes Externas</span>
      </li>
    </ol>

    <ol class="list-group">
      <li
        *ngIf="puedeVer('listarReportes')"
        class="list-group-item list-group-item-action d-flex align-items-center"
        (click)="mostrarComponente('VerReportes')"
      >
        <i class="fas fa-folder-open mr-2"></i>
        <span>Reportes</span>
      </li>
    </ol>
  </div>
</aside>

<!-- Overlay para pantallas pequeñas -->
<div
  class="overlay"
  (click)="toggleSidebar()"
  [ngClass]="{ show: isSidebarOpen && windowWidth < 768 }"
></div>

<!-- Contenido principal -->
<section id="wrapper" [ngClass]="{ shrink: isSidebarOpen }">
  <nav
    class="navbar navbar-expand-md"
    style="background-color: rgb(231, 231, 231)"
  >
    <div class="container-fluid mx-2">
      <i
        [ngClass]="iconClass + ' ml-2'"
        (click)="toggleSidebar()"
        style="cursor: pointer; font-size: 2.5rem; padding: 5px"
      ></i>

      <div class="ml-auto d-flex align-items-center">
        <!-- Iconos de notificaciones, mensajes y configuración -->
        <i class="fas fa-bell mr-3" style="font-size: 1.2rem"></i>
        <i class="fas fa-envelope mr-3" style="font-size: 1.2rem"></i>
        <i class="fas fa-cog mr-3" style="font-size: 1.2rem"></i>

        <!-- Menú desplegable de usuario con imagen -->
        <div class="dropdown d-flex align-items-center">
          <!-- Foto del usuario -->
          <img
            *ngIf="imagen_url"
            [src]="imagen_url"
            alt="Foto de usuario"
            class="rounded-circle"
            style="
              width: 40px;
              height: 40px;
              object-fit: cover;
              margin-right: 10px;
            "
          />

          <!-- Nombre del usuario -->
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ apellido }}
          </button>

          <!-- Opciones del menú desplegable -->
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuButton"
          >
            <li>
              <a class="dropdown-item" href="#">
                <i class="fas fa-eye mr-2"></i> Ver Perfil
              </a>
            </li>
            <li>
              <a
                class="dropdown-item text-danger"
                href="#"
                (click)="onLogout()"
                (click)="confirmarCerrarSesion()"
              >
                <i class="fas fa-sign-out-alt mr-2"></i> Cerrar Sesión
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div
    class="content d-flex justify-content-center align-items-center"
    style="min-height: calc(100vh - 70px)"
  >
    <!-- esta la seccionde mian -->
    <!--     <h1>hola mundo</h1> -->
    <div class="text-center" style="margin-top: 10px">
      <ng-container *ngIf="componenteActual === 'VerUsuario'">
        <app-usuario
          (registrar)="onRegistrarUsuario()"
          (editar)="mostrarComponente('EditarUsuario', $event)"
        ></app-usuario>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarUsuario'">
        <app-registrar-usuario
          (listarUsuario)="mostrarComponente('VerUsuario')"
        ></app-registrar-usuario>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarUsuario'">
        <app-editar-usuario
          [usuarioId]="usuarioIdParaEditar"
          (listarUsuarioEditado)="mostrarComponente('VerUsuario')"
        ></app-editar-usuario>
      </ng-container>

      <!-- est es la seccion de roles  -->
      <ng-container *ngIf="componenteActual === 'VerRol'">
        <app-rol
          (registrar_Rol)="onRegistrarRol()"
          (editar)="mostrarComponente('EditarRol', $event)"
        ></app-rol>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarRol'">
        <app-registrar-rol
          (listarRol)="mostrarComponente('VerRol')"
        ></app-registrar-rol>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarRol'">
        <app-editar-rol
          [rolId]="rolIdParaEditar"
          (listarRolEditado)="mostrarComponente('VerRol')"
        ></app-editar-rol>
      </ng-container>

      <!-- est es la seccion de permisos  -->
      <ng-container *ngIf="componenteActual === 'VerPermisos'">
        <app-permiso
          (registrarPermiso)="onRegistrarPermiso()"
          (editar)="mostrarComponente('EditarPermiso', $event)"
        ></app-permiso>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarPermisos'">
        <app-registrar-permiso
          (listarPermiso)="mostrarComponente('VerPermisos')"
        ></app-registrar-permiso>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarPermiso'">
        <app-editar-permiso
          [permisoId]="permisoIdParaEditar"
          (listarPermisoEditado)="mostrarComponente('VerPermisos')"
        ></app-editar-permiso>
      </ng-container>

      <!-- est es la seccion de rol permisos  -->
      <ng-container *ngIf="componenteActual === 'VerRolPermisos'">
        <app-rol-permiso
          (registrarRolPermiso)="onRegistrarRolPermiso()"
          (editar)="mostrarComponente('EditarRolPermiso', $event)"
        ></app-rol-permiso>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarRolPermisos'">
        <app-registrar-rolpermiso
          (listarRolPermiso)="mostrarComponente('VerRolPermisos')"
        ></app-registrar-rolpermiso>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarRolPermiso'">
        <app-editar-rolpermiso
          [rolPermisoId]="rolpermisoIdParaEditar"
          (listarRolPermisoEditado)="mostrarComponente('VerRolPermisos')"
        ></app-editar-rolpermiso>
      </ng-container>

      <!-- esta la seccion de Usuario Rol -->

      <ng-container *ngIf="componenteActual === 'VerUsuarioRol'">
        <app-usuario-rol
          (registrarUsuarioPermiso)="onRegistrarUsuarioRoles()"
          (editar)="mostrarComponente('EditarUsuarioRol', $event)"
        ></app-usuario-rol>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarUsuarioRol'">
        <app-registrar-usuariorol
          (listarUsuarioRol)="mostrarComponente('VerUsuarioRol')"
        />
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarUsuarioRol'">
        <app-editar-usuariorol
          [usuarioRolId]="usuariorolIdParaEditar"
          (listarUsuarioRolEditado)="mostrarComponente('VerUsuarioRol')"
        ></app-editar-usuariorol>
      </ng-container>

      <!-- esta la seccion de Obras -->
      <ng-container *ngIf="componenteActual === 'VerObra'">
        <app-listar-obra
          (registrarObras)="onRegistrarObras()"
          (editar)="mostrarComponente('EditarObra', $event)"
        ></app-listar-obra>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarObra'">
        <app-registrar-obra (listarObras)="mostrarComponente('VerObra')" />
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarObra'">
        <app-editar-obra
          [obraId]="obraIdParaEditar"
          (listarObraEditado)="mostrarComponente('VerObra')"
        ></app-editar-obra>
      </ng-container>

      <!-- esta la seccion de Almacen -->
      <ng-container *ngIf="componenteActual === 'VerAlmacen'">
        <app-listar-almacen
          (registrarAlmacen)="onRegistrarAlmacenes()"
          (editarAlmacenes)="mostrarComponente('EditarAlmacen', $event)"
        ></app-listar-almacen>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarAlmacen'">
        <app-registrar-almacen
          (listarAlmacen)="mostrarComponente('VerAlmacen')"
        />
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarAlmacen'">
        <app-editar-almacen
          [almacenId]="almacenIdParaEditar"
          (listarAlmacenEditado)="mostrarComponente('VerAlmacen')"
        ></app-editar-almacen>
      </ng-container>

      <!-- esta la seccion de equipos -->
      <ng-container *ngIf="componenteActual === 'VerEquipos'">
        <app-listar-equipos
          (registrarEquipo)="onRegistrarEquipos()"
          (editar)="mostrarComponente('EditarEquipo', $event)"
        ></app-listar-equipos>
      </ng-container>
      <ng-container *ngIf="componenteActual === 'VerEquiposO'">
        <app-listar-equipos-o></app-listar-equipos-o>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarEquipos'">
        <app-registrar-equipos
          (listarEquipo)="mostrarComponente('VerEquipos')"
        />
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarEquipo'">
        <app-editar-equipos
          [equipoId]="equipoIdParaEditar"
          (listarEquipoEditado)="mostrarComponente('VerEquipos')"
        ></app-editar-equipos>
      </ng-container>

      <!-- esta la seccion de mantenimientos -->

      <ng-container *ngIf="componenteActual === 'VerMantenimiento'">
        <app-listar-mantenimiento
          (registrarMantenimiento)="onRegistrarMatenimientos()"
          (editar)="mostrarComponente('EditarMantenimiento', $event)"
        ></app-listar-mantenimiento>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarMantenimiento'">
        <app-registrar-mantenimiento
          (listarMantenimiento)="mostrarComponente('VerMantenimiento')"
        />
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarMantenimiento'">
        <app-editar-mantenimiento
          [mantenimientoId]="mantenimientoIdParaEditar"
          (listarMantenimientoEditado)="mostrarComponente('VerMantenimiento')"
        ></app-editar-mantenimiento>
      </ng-container>

      <!-- esta la seccion de solicitudes -->

      <ng-container *ngIf="componenteActual === 'VerSolicitudes'">
        <app-listar-solicitudes
          (registrarSolicitud)="onRegistrarSolicitudes()"
          (editar)="mostrarComponente('EditarSolicitudes', $event)"
        ></app-listar-solicitudes>
      </ng-container>

      <ng-container *ngIf="componenteActual === 'RegistrarSolicitudes'">
        <app-registrar-solicitudes
          (listarSolicitud)="mostrarComponente('VerSolicitudes')"
        />
      </ng-container>

      <ng-container *ngIf="componenteActual === 'EditarSolicitudes'">
        <app-editar-solicitudes
          [solicitudId]="solicitudIdParaEditar"
          (listarSolicitudEditado)="mostrarComponente('VerSolicitudes')"
        ></app-editar-solicitudes>
      </ng-container>
      <!-- esta es la seccion dereportes -->
      <ng-container *ngIf="componenteActual === 'VerReportes'">
        <app-generacion-reportes></app-generacion-reportes>
      </ng-container>
    </div>
  </div>
</section>
