<div class="container">
  <h2 class="text-center">Lista de Relaciones Rol-Permiso</h2>
  <div class="mb-3 d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar por Nombre de Rol"
      [(ngModel)]="searchTerm"
    />
    <button class="btn btn-success ms-2" (click)="registrarRolPermisos()">
      Registrar
    </button>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Rol</th>
        <th class="text-center">Permiso</th>
        <th class="text-center">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rolePermiso of filteredRolPermiso()">
        <td class="text-start">{{ rolePermiso.rol.nombreRol }}</td>
        <td class="text-start">{{ rolePermiso.permiso.nombre }}</td>
        <td>
          <button
            class="btn btn-primary"
            (click)="editarRolPermiso(rolePermiso.id)"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
