<div class="container">
  <h2>Actualizar Permiso</h2>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="nombre">Nombre de Permisos:</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="form-control"
        (keypress)="preventNumbers($event)"
      />
      <div
        *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched"
        class="text-danger"
      >
        El nombre del permiso es requerido.
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion:</label>
      <input
        type="text"
        id="descripcion"
        formControlName="descripcion"
        class="form-control"
      />
      <div
        *ngIf="
          form.get('descripcion')?.invalid && form.get('descripcion')?.touched
        "
        class="text-danger"
      >
        El descripcion del permiso es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="activo">Activo:</label>
      <select id="activo" formControlName="activo" class="form-control">
        <option [value]="true">Activo</option>
        <option [value]="false">Inactivo</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Actualizar Permiso
    </button>
  </form>
</div>
<!-- Modal de Éxito -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && !errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ mensajeModal }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Error -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ errorModal }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
