<div class="container">
  <h2 class="text-center">Lista de Permisos</h2>

  <div class="mb-3 d-flex align-items-center">
    <input
      type="text"
      class="form-control"
      placeholder="Buscar por Nombre de Permiso"
      [(ngModel)]="searchTerm"
    />
    <button class="btn btn-success ms-2" (click)="registrarPermisos()">
      Registrar
    </button>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Descripción</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let permiso of filteredPermiso()"
        [ngClass]="{
          'table-danger': !permiso.activo,
          'table-success': permiso.activo
        }"
      >
        <td class="text-start">{{ permiso.nombre }}</td>
        <td class="text-start">{{ permiso.descripcion }}</td>
        <td>{{ permiso.activo ? "Activo" : "Inactivo" }}</td>
        <td>
          <button class="btn btn-primary" (click)="editarPermiso(permiso.id)">
            Editar
          </button>
          <button
            class="btn"
            [ngClass]="permiso.activo ? 'btn-danger' : 'btn-success'"
            (click)="togglePermisoActivo(permiso)"
          >
            {{ permiso.activo ? "Desactivar" : "Activar" }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
  <div class="d-flex justify-content-between align-items-center mt-3">
    <button
      class="btn btn-secondary"
      (click)="previousPage()"
      [disabled]="page === 1"
    >
      Anterior
    </button>
    <span>Página {{ page }}</span>
    <button
      class="btn btn-secondary"
      (click)="nextPage()"
      [disabled]="page * pageSize >= permisos.length"
    >
      Siguiente
    </button>
  </div>
</div>
