<div class="container">
  <h2>Registrar Almacen</h2>
  <form [formGroup]="registrarForm" (ngSubmit)="registrarAlmacen()">
    <!-- Campo para nombre del usuario -->
    <div class="form-group">
      <label for="nombreAlmacen">nombre Almacen:</label>
      <input
        id="nombreAlmacen"
        type="text"
        class="form-control"
        formControlName="nombreAlmacen"
        placeholder="Ingrese el nombre del Almacen"
        required
      />
      <div
        *ngIf="
          registrarForm.get('nombreAlmacen')?.invalid &&
          registrarForm.get('nombreAlmacen')?.touched
        "
        class="text-danger"
      >
        El nombre es obligatorio.
      </div>
    </div>

    <!-- Campo para seleccionar una obra -->
    <div class="form-group">
      <label for="obra">Seleccione una obra:</label>
      <select id="obra" class="form-control" formControlName="obra" required>
        <option value="" disabled selected>Seleccione una obra</option>
        <option *ngFor="let obra of obras" [value]="obra.id">
          {{ obra.nombreObra }}
        </option>
      </select>
      <div
        *ngIf="
          registrarForm.get('obra')?.invalid &&
          registrarForm.get('obra')?.touched
        "
        class="text-danger"
      >
        Seleccionar una obra es obligatorio.
      </div>
    </div>

    <!-- Botón de registro -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!registrarForm.valid"
    >
      Registrar Usuario
    </button>
  </form>
</div>

<!-- Modal de Éxito -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && !errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ mensajeModal }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Error -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ errorModal }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
