<h1>Crear Rol Permiso</h1>
<form
  [formGroup]="registrarForm"
  (ngSubmit)="registrarRolPermiso()"
  class="p-4 border rounded shadow-sm"
>
  <div class="form-group mb-3">
    <label for="rol" class="form-label">Rol</label>
    <select formControlName="rol" id="rol" class="form-control" required>
      <option *ngFor="let rol of roles" [value]="rol.id">
        {{ rol.nombreRol }}
      </option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label for="permiso" class="form-label">Permiso</label>
    <select
      formControlName="permiso"
      id="permiso"
      class="form-control"
      required
    >
      <option *ngFor="let permiso of permisos" [value]="permiso.id">
        {{ permiso.nombre }}
      </option>
    </select>
  </div>

  <button
    type="submit"
    class="btn btn-primary w-100"
    [disabled]="!registrarForm.valid"
  >
    Registrar
  </button>
</form>

<!-- Modal de Éxito -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && !errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ mensajeModal }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Error -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ errorModal }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
