<h1>Crear Rol Permiso</h1>
<form
  [formGroup]="registrarForm"
  (ngSubmit)="registrarRolPermiso()"
  class="p-4 border rounded shadow-sm"
>
  <div class="form-group mb-3">
    <label for="rol" class="form-label">Rol</label>
    <select formControlName="rol" id="rol" class="form-control" required>
      <option *ngFor="let rol of roles" [value]="rol.id">
        {{ rol.nombreRol }}
      </option>
    </select>
  </div>

  <div class="form-group mb-3">
    <label for="permiso" class="form-label">Permisos</label>
    <div
      class="form-check mb-2 d-flex justify-content-between"
      *ngFor="let permiso of permisos"
    >
      <label class="form-check-label" for="permiso{{ permiso.id }}">
        {{ permiso.nombre }}
      </label>
      <input
        class="form-check-input"
        type="checkbox"
        [value]="permiso.id"
        (change)="onCheckboxChange($event)"
        id="permiso{{ permiso.id }}"
      />
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary w-100"
    [disabled]="!registrarForm.valid || !selectedPermisos.length"
  >
    Registrar
  </button>
</form>

<!-- Modal de Éxito -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && !errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <img
          src="https://localimg.s3.us-east-2.amazonaws.com/imagenes/right1.png"
          alt=""
          style="width: 90px; height: 50px; margin-right: 5px"
        />
        <div class="flex-grow-1 text-center">
          <p style="margin: 0">{{ mensajeModal }}</p>
          <!-- Elimina el margen del párrafo -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Error -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <img
          src="https://localimg.s3.us-east-2.amazonaws.com/imagenes/wrong.png"
          alt=""
          style="width: 50px; height: 50px; margin-right: 5px"
        />
        <div class="flex-grow-1 text-center">
          <p style="margin: 0">{{ errorModal }}</p>
          <!-- Elimina el margen del párrafo -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
