<div class="editar-solicitudes">
  <h2>Editar Solicitud</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="codigoSolicitud">Código de Solicitud:</label>
      <input id="codigoSolicitud" formControlName="codigoSolicitud" />
      <div
        *ngIf="
          form.get('codigoSolicitud')?.invalid &&
          form.get('codigoSolicitud')?.touched
        "
      >
        <small>El código de solicitud es requerido.</small>
      </div>
    </div>

    <div>
      <label for="fecha_solicitud">Fecha de Solicitud:</label>
      <input
        id="fecha_solicitud"
        type="date"
        formControlName="fecha_solicitud"
      />
      <div
        *ngIf="
          form.get('fecha_solicitud')?.invalid &&
          form.get('fecha_solicitud')?.touched
        "
      >
        <small>La fecha de solicitud es requerida.</small>
      </div>
    </div>

    <div>
      <label for="fecha_retorno_estimada">Fecha de Retorno Estimada:</label>
      <input
        id="fecha_retorno_estimada"
        type="date"
        formControlName="fecha_retorno_estimada"
      />
      <div
        *ngIf="
          form.get('fecha_retorno_estimada')?.invalid &&
          form.get('fecha_retorno_estimada')?.touched
        "
      >
        <small>La fecha de retorno estimada es requerida.</small>
      </div>
    </div>
    <div>
      <label for="fecha_retorno_real">Fecha de Retorno Real:</label>
      <input
        id="fecha_retorno_real"
        type="date"
        formControlName="fecha_retorno_real"
      />
      <!-- No se necesita un mensaje de error aquí, ya que no es obligatorio -->
    </div>

    <div>
      <label for="estado">Estado:</label>
      <select id="estado" formControlName="estado">
        <option
          value="pendiente"
          [selected]="form.get('estado')?.value === 'pendiente'"
        >
          Pendiente
        </option>
        <option
          value="completada"
          [selected]="form.get('estado')?.value === 'completada'"
        >
          Completado
        </option>
        <option
          value="cancelado"
          [selected]="form.get('estado')?.value === 'cancelado'"
        >
          Cancelado
        </option>
        <option
          value="En uso"
          [selected]="form.get('estado')?.value === 'En uso'"
        >
          En Uso
        </option>
      </select>
    </div>

    <div>
      <label for="motivo_uso">Motivo de Uso:</label>
      <input id="motivo_uso" formControlName="motivo_uso" />
      <div
        *ngIf="
          form.get('motivo_uso')?.invalid && form.get('motivo_uso')?.touched
        "
      >
        <small>El motivo de uso es requerido.</small>
      </div>
    </div>

    <div>
      <label for="fecha_uso">Fecha de Uso:</label>
      <input id="fecha_uso" type="date" formControlName="fecha_uso" />
    </div>

    <div>
      <label for="equipo">Equipo:</label>
      <select id="equipo" formControlName="equipo">
        <option *ngFor="let e of equipo" [value]="e.id">
          {{ e.nombreEquipo }}
        </option>
      </select>
      <div *ngIf="form.get('equipo')?.invalid && form.get('equipo')?.touched">
        <small>El equipo es requerido.</small>
      </div>
    </div>

    <div>
      <label for="usuario">Usuario:</label>
      <select id="usuario" formControlName="usuario">
        <option *ngFor="let u of usuario" [value]="u.id">
          {{ u.nombreUsuario }}
        </option>
      </select>
      <div *ngIf="form.get('usuario')?.invalid && form.get('usuario')?.touched">
        <small>El usuario es requerido.</small>
      </div>
    </div>

    <div>
      <label for="descripcion_falla">Descripción de Falla:</label>
      <textarea
        id="descripcion_falla"
        formControlName="descripcion_falla"
      ></textarea>
    </div>

    <div>
      <label for="cantidad_fallas_solicitud">Cantidad de Fallas:</label>
      <input
        id="cantidad_fallas_solicitud"
        type="number"
        formControlName="cantidad_fallas_solicitud"
      />
    </div>

    <div>
      <label for="horas_uso_solicitud">Horas de Uso:</label>
      <input
        id="horas_uso_solicitud"
        type="number"
        formControlName="horas_uso_solicitud"
      />
    </div>

    <button type="submit">Actualizar Solicitud</button>
  </form>
</div>
