<div class="container">
  <h2 *ngIf="isEditing">Editar Mantenimiento</h2>
  <h2 *ngIf="!isEditing">Registrar Nuevo Mantenimiento</h2>

  <form [formGroup]="mantenimientoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fechaInicio">Fecha de Inicio:</label>
      <input
        type="date"
        id="fechaInicio"
        formControlName="fechaInicio"
        class="form-control"
        required
      />
      <div
        *ngIf="
          mantenimientoForm.get('fechaInicio')?.invalid &&
          (mantenimientoForm.get('fechaInicio')?.touched ||
            mantenimientoForm.get('fechaInicio')?.dirty)
        "
        class="text-danger"
      >
        La fecha de inicio es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="fechaFin">Fecha de Fin:</label>
      <input
        type="date"
        id="fechaFin"
        formControlName="fechaFin"
        class="form-control"
        required
      />
      <div
        *ngIf="
          mantenimientoForm.get('fechaFin')?.invalid &&
          (mantenimientoForm.get('fechaFin')?.touched ||
            mantenimientoForm.get('fechaFin')?.dirty)
        "
        class="text-danger"
      >
        La fecha de fin es requerida.
      </div>
    </div>

    <div class="form-group">
      <label for="detalleMantenimiento">Detalle del Mantenimiento:</label>
      <textarea
        id="detalleMantenimiento"
        formControlName="detalleMantenimiento"
        class="form-control"
        required
      ></textarea>
      <div
        *ngIf="
          mantenimientoForm.get('detalleMantenimiento')?.invalid &&
          (mantenimientoForm.get('detalleMantenimiento')?.touched ||
            mantenimientoForm.get('detalleMantenimiento')?.dirty)
        "
        class="text-danger"
      >
        El detalle del mantenimiento es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="responsable">Responsable:</label>
      <input
        type="text"
        id="responsable"
        formControlName="responsable"
        class="form-control"
        required
      />
      <div
        *ngIf="
          mantenimientoForm.get('responsable')?.invalid &&
          (mantenimientoForm.get('responsable')?.touched ||
            mantenimientoForm.get('responsable')?.dirty)
        "
        class="text-danger"
      >
        El responsable es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="tipo_mantenimiento">Tipo de Mantenimiento:</label>
      <select
        id="tipo_mantenimiento"
        formControlName="tipo_mantenimiento"
        class="form-control"
        required
      >
        <option value="" disabled selected>Seleccione un tipo</option>
        <option value="preventivo">Preventivo</option>
        <option value="correctivo">Correctivo</option>
      </select>
      <div
        *ngIf="
          mantenimientoForm.get('tipo_mantenimiento')?.invalid &&
          (mantenimientoForm.get('tipo_mantenimiento')?.touched ||
            mantenimientoForm.get('tipo_mantenimiento')?.dirty)
        "
        class="text-danger"
      >
        El tipo de mantenimiento es requerido.
      </div>
    </div>

    <div class="form-group">
      <label for="equipo">Equipo:</label>
      <select
        id="equipo"
        formControlName="equipo"
        class="form-control"
        required
      >
        <option value="" disabled selected>Seleccione un equipo</option>
        <option *ngFor="let equipo of equipos$ | async" [value]="equipo.id">
          {{ equipo.nombreEquipo }}
        </option>
      </select>
      <div
        *ngIf="
          mantenimientoForm.get('equipo')?.invalid &&
          (mantenimientoForm.get('equipo')?.touched ||
            mantenimientoForm.get('equipo')?.dirty)
        "
        class="text-danger"
      >
        El equipo es requerido.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="mantenimientoForm.invalid"
    >
      Guardar Mantenimiento
    </button>
    <a routerLink="/mantenimientos" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
