<div class="container">
  <h2>Editar Mantenimiento</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Campo para fecha de inicio del mantenimiento -->
    <div class="form-group">
      <label for="fechaInicio">Fecha de inicio:</label>
      <input
        id="fechaInicio"
        type="date"
        class="form-control"
        formControlName="fechaInicio"
        placeholder="Ingrese la fecha de inicio del mantenimiento"
        required
      />
      <div
        *ngIf="
          form.get('fechaInicio')?.invalid && form.get('fechaInicio')?.touched
        "
        class="text-danger"
      >
        La fecha de inicio es obligatoria.
      </div>
    </div>

    <!-- Campo para fecha de fin del mantenimiento -->
    <div class="form-group">
      <label for="fechaFin">Fecha de fin:</label>
      <input
        id="fechaFin"
        type="date"
        class="form-control"
        formControlName="fechaFin"
        placeholder="Ingrese la fecha de fin del mantenimiento"
        required
      />
      <div
        *ngIf="form.get('fechaFin')?.invalid && form.get('fechaFin')?.touched"
        class="text-danger"
      >
        La fecha de fin es obligatoria.
      </div>
    </div>

    <!-- Campo para estado de mantenimiento -->
    <div class="form-group">
      <label for="estadoMantenimiento">Estado de mantenimiento:</label>
      <select
        id="estadoMantenimiento"
        class="form-control"
        formControlName="estadoMantenimiento"
        required
      >
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
      </select>
      <div
        *ngIf="
          form.get('estadoMantenimiento')?.invalid &&
          form.get('estadoMantenimiento')?.touched
        "
        class="text-danger"
      >
        Seleccionar un estado de mantenimiento es obligatorio.
      </div>
    </div>

    <!-- Campo para tipo de mantenimiento -->
    <div class="form-group">
      <label for="tipoMantenimiento">Tipo de mantenimiento:</label>
      <select
        id="tipoMantenimiento"
        class="form-control"
        formControlName="tipoMantenimiento"
        required
      >
        <option value="Correctivo">Correctivo</option>
        <option value="Preventivo">Preventivo</option>
      </select>
      <div
        *ngIf="
          form.get('tipoMantenimiento')?.invalid &&
          form.get('tipoMantenimiento')?.touched
        "
        class="text-danger"
      >
        Seleccionar un tipo de mantenimiento es obligatorio.
      </div>
    </div>

    <!-- Campo para detalle del mantenimiento -->
    <div class="form-group">
      <label for="detalleMantenimiento">Detalle del mantenimiento:</label>
      <textarea
        id="detalleMantenimiento"
        class="form-control"
        formControlName="detalleMantenimiento"
        placeholder="Ingrese el detalle del mantenimiento"
        required
      ></textarea>
      <div
        *ngIf="
          form.get('detalleMantenimiento')?.invalid &&
          form.get('detalleMantenimiento')?.touched
        "
        class="text-danger"
      >
        El detalle del mantenimiento es obligatorio.
      </div>
    </div>

    <!-- Campo para responsable del mantenimiento -->
    <div class="form-group">
      <label for="responsable">Responsable:</label>
      <input
        id="responsable"
        type="text"
        class="form-control"
        formControlName="responsable"
        placeholder="Ingrese el responsable del mantenimiento"
        required
      />
      <div
        *ngIf="
          form.get('responsable')?.invalid && form.get('responsable')?.touched
        "
        class="text-danger"
      >
        El responsable es obligatorio.
      </div>
    </div>

    <!-- Campo para seleccionar un equipo -->
    <div class="form-group">
      <label for="equipo" class="col-form-label">Seleccione un equipo:</label>
      <select
        id="equipo"
        class="form-control form-select"
        #equipoSelect
        formControlName="equipo"
        (change)="seleccionarEquipo(equipoSelect.value)"
      >
        <option value="">Seleccione un equipo</option>
        <option *ngFor="let equipo of equipo" [value]="equipo.id.toString()">
          {{ equipo.nombreEquipo }}
        </option>
      </select>
      <div
        *ngIf="form.get('equipo')?.invalid && form.get('equipo')?.touched"
        class="text-danger"
      >
        Seleccionar un equipo es obligatorio.
      </div>
    </div>

    <!-- Campo para mostrar el almacén seleccionado -->
    <div class="mb-3">
      <label for="almacen" class="col-form-label">Almacén:</label>
      <input
        type="text"
        id="almacen"
        class="form-control"
        [value]="almacenSeleccionado"
        readonly
      />
    </div>

    <!-- Campo para mostrar la obra seleccionada -->
    <div class="mb-3">
      <label for="obra" class="col-form-label">Obra:</label>
      <input
        type="text"
        id="obra"
        class="form-control"
        [value]="obraSeleccionada"
        readonly
      />
    </div>

    <!-- Botón de guardar cambios -->
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Guardar cambios
    </button>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </form>
</div>
