<div class="container">
  <h2 class="text-center">Editar Mantenimiento</h2>

  <form [formGroup]="mantenimientoForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="detalleMantenimiento" class="form-label"
        >Detalle de Mantenimiento</label
      >
      <input
        type="text"
        class="form-control"
        formControlName="detalleMantenimiento"
      />
      <div
        *ngIf="
          mantenimientoForm.get('detalleMantenimiento')?.invalid &&
          mantenimientoForm.get('detalleMantenimiento')?.touched
        "
        class="text-danger"
      >
        El detalle de mantenimiento es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label for="fechaInicio" class="form-label">Fecha de Inicio</label>
      <input type="date" class="form-control" formControlName="fechaInicio" />
      <div
        *ngIf="
          mantenimientoForm.get('fechaInicio')?.invalid &&
          mantenimientoForm.get('fechaInicio')?.touched
        "
        class="text-danger"
      >
        La fecha de inicio es obligatoria.
      </div>
    </div>

    <div class="mb-3">
      <label for="fechaFin" class="form-label">Fecha de Fin</label>
      <input type="date" class="form-control" formControlName="fechaFin" />
      <div
        *ngIf="
          mantenimientoForm.get('fechaFin')?.invalid &&
          mantenimientoForm.get('fechaFin')?.touched
        "
        class="text-danger"
      >
        La fecha de fin es obligatoria.
      </div>
    </div>

    <div class="mb-3">
      <label for="responsable" class="form-label">Responsable</label>
      <input type="text" class="form-control" formControlName="responsable" />
      <div
        *ngIf="
          mantenimientoForm.get('responsable')?.invalid &&
          mantenimientoForm.get('responsable')?.touched
        "
        class="text-danger"
      >
        El responsable es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label for="tipo_mantenimiento" class="form-label"
        >Tipo de Mantenimiento</label
      >
      <select class="form-select" formControlName="tipo_mantenimiento">
        <option value="" disabled selected>
          Seleccione un tipo de mantenimiento
        </option>
        <option value="preventivo">Preventivo</option>
        <option value="correctivo">Correctivo</option>
      </select>
      <div
        *ngIf="
          mantenimientoForm.get('tipo_mantenimiento')?.invalid &&
          mantenimientoForm.get('tipo_mantenimiento')?.touched
        "
        class="text-danger"
      >
        El tipo de mantenimiento es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label for="equipo" class="form-label">Equipo</label>
      <select class="form-select" formControlName="equipo">
        <option value="" disabled selected>Seleccione un equipo</option>
        <option *ngFor="let equipo of equipos" [value]="equipo.id">
          {{ equipo.nombreEquipo }}
        </option>
      </select>
      <div
        *ngIf="
          mantenimientoForm.get('equipo')?.invalid &&
          mantenimientoForm.get('equipo')?.touched
        "
        class="text-danger"
      >
        El equipo es obligatorio.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!mantenimientoForm.valid"
    >
      Guardar Cambios
    </button>
  </form>
</div>
