<div class="container">
  <h2>Registrar Obra</h2>

  <form (ngSubmit)="registrarObra()" #obraForm="ngForm">
    <!-- Nombre de la obra -->
    <div class="form-group">
      <label for="nombreObra">Nombre de la obra</label>
      <input
        type="text"
        id="nombreObra"
        [(ngModel)]="obra.nombreObra"
        name="nombreObra"
        class="form-control"
        required
      />
    </div>

    <!-- Ubicación de la obra -->
    <div class="form-group">
      <label for="ubicacionObra">Ubicación de la obra</label>
      <input
        type="text"
        id="ubicacionObra"
        [(ngModel)]="obra.ubicacionObra"
        name="ubicacionObra"
        class="form-control"
        required
      />
    </div>
    <!-- Botón para registrar -->
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!obraForm.form.valid"
    >
      Registrar Obra
    </button>
  </form>
</div>

<!-- Modal de Éxito -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && !errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <img
          src="https://localimg.s3.us-east-2.amazonaws.com/imagenes/right1.png"
          alt=""
          style="width: 90px; height: 50px; margin-right: 5px"
        />
        <div class="flex-grow-1 text-center">
          <p style="margin: 0">{{ mensajeModal }}</p>
          <!-- Elimina el margen del párrafo -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Error -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <img
          src="https://localimg.s3.us-east-2.amazonaws.com/imagenes/wrong.png"
          alt=""
          style="width: 50px; height: 50px; margin-right: 5px"
        />
        <div class="flex-grow-1 text-center">
          <p style="margin: 0">{{ errorModal }}</p>
          <!-- Elimina el margen del párrafo -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
