<div class="container-fluid">
  <h2>Editar Equipo</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Nombre del Equipo -->
    <div class="form-group">
      <label for="codigoEquipo">codigo:</label>
      <input
        type="text"
        id="codigoEquipo"
        formControlName="codigoEquipo"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            form.get('codigoEquipo')?.invalid &&
            form.get('codigoEquipo')?.touched
        }"
      />
      <div
        *ngIf="
          form.get('codigoEquipo')?.invalid && form.get('codigoEquipo')?.touched
        "
        class="invalid-feedback"
      >
        El nombre del equipo es requerido.
      </div>
    </div>
    <div class="form-group">
      <label for="nombreEquipo">Nombre del Equipo:</label>
      <input
        type="text"
        id="nombreEquipo"
        formControlName="nombreEquipo"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            form.get('nombreEquipo')?.invalid &&
            form.get('nombreEquipo')?.touched
        }"
      />
      <div
        *ngIf="
          form.get('nombreEquipo')?.invalid && form.get('nombreEquipo')?.touched
        "
        class="invalid-feedback"
      >
        El nombre del equipo es requerido.
      </div>
    </div>

    <!-- Marca -->
    <div class="form-group">
      <label for="marcaEquipo">Marca:</label>
      <input
        type="text"
        id="marcaEquipo"
        formControlName="marcaEquipo"
        class="form-control"
        required
      />
    </div>

    <!-- Modelo -->
    <div class="form-group">
      <label for="modeloEquipo">Modelo:</label>
      <input
        type="text"
        id="modeloEquipo"
        formControlName="modeloEquipo"
        class="form-control"
        required
      />
    </div>

    <!-- Estado de Disponibilidad -->
    <div class="form-group">
      <label for="estadoDisponibilidad">Estado de Disponibilidad:</label>
      <select
        id="estadoDisponibilidad"
        formControlName="estadoDisponibilidad"
        class="form-control"
        required
      >
        <option value="" disabled>Seleccionar estado</option>
        <option value="disponible">Disponible</option>
        <option value="En uso">En uso</option>
        <option value="En mantenimiento">En mantenimiento</option>
      </select>
    </div>

    <!-- Vida Útil -->
    <div class="form-group">
      <label for="vidaUtilEquipo">Vida Útil:</label>
      <input
        type="text"
        id="vidaUtilEquipo"
        formControlName="vidaUtilEquipo"
        class="form-control"
        required
      />
    </div>

    <!-- Fecha de Adquisición -->
    <div class="form-group">
      <label for="fechaAdquiscion">Fecha de Adquisición:</label>
      <input
        type="date"
        id="fechaAdquiscion"
        formControlName="fechaAdquiscion"
        class="form-control"
        required
      />
    </div>

    <!-- Fecha de Fabricación -->
    <div class="form-group">
      <label for="fechaFabricacion">Fecha de Fabricación:</label>
      <input
        type="date"
        id="fechaFabricacion"
        formControlName="fechaFabricacion"
        class="form-control"
        required
      />
    </div>

    <!-- Horas de Uso -->
    <div class="form-group">
      <label for="horasUso">Horas de Uso:</label>
      <input
        type="number"
        id="horasUso"
        formControlName="horasUso"
        class="form-control"
        required
      />
    </div>

    <!-- Edad del Equipo -->
    <div class="form-group">
      <label for="edadEquipo">Edad del Equipo:</label>
      <input
        type="text"
        id="edadEquipo"
        formControlName="edadEquipo"
        class="form-control"
        required
      />
    </div>

    <!-- Cantidad de Mantenimiento Preventivos -->
    <div class="form-group">
      <label for="cantMantPreventivos"
        >Cantidad de Mantenimiento Preventivos:</label
      >
      <input
        type="number"
        id="cantMantPreventivos"
        formControlName="cantMantPreventivos"
        class="form-control"
      />
    </div>

    <!-- Cantidad de Mantenimiento Correctivos -->
    <div class="form-group">
      <label for="cantMantCorrectivos"
        >Cantidad de Mantenimiento Correctivos:</label
      >
      <input
        type="number"
        id="cantMantCorrectivos"
        formControlName="cantMantCorrectivos"
        class="form-control"
      />
    </div>

    <!-- Número de Fallas Reportadas -->
    <div class="form-group">
      <label for="numFallasReportdas">Número de Fallas Reportadas:</label>
      <input
        type="number"
        id="numFallasReportdas"
        formControlName="numFallasReportdas"
        class="form-control"
      />
    </div>

    <!-- Almacén -->
    <div class="form-group">
      <label for="almacen">Almacén:</label>
      <select
        id="almacen"
        formControlName="almacen"
        class="form-control"
        required
      >
        <option *ngFor="let almacen of almacenes" [value]="almacen.id">
          {{ almacen.nombreAlmacen }}
        </option>
      </select>
    </div>

    <!-- Imagen del Equipo -->
    <div class="form-group">
      <label for="imagenEquipos_url">Imagen del Equipo:</label>
      <input
        type="file"
        id="imagenEquipos_url"
        (change)="onImageChange($event)"
        class="form-control"
      />
      <div *ngIf="imagenPreview" class="mt-2">
        <img
          [src]="imagenPreview"
          alt="Imagen previa"
          class="img-thumbnail"
          width="100"
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Actualizar
    </button>
  </form>
</div>

<!-- Modal de Éxito -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  *ngIf="manejarModal && !errorModal"
  style="display: block"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" (click)="manejarModal = false">
          <span>&times;</span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between">
        <img
          src="https://localimg.s3.us-east-2.amazonaws.com/imagenes/right1.png"
          alt=""
          style="width: 90px; height: 50px; margin-right: 5px"
        />
        <div class="flex-grow-1 text-center">
          <p style="margin: 0">{{ mensajeModal }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="manejarOk()">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
